h1 {
	color: rgb(252, 163, 17);
	margin: 10px;
}

#page-login {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 5px solid rgb(20, 33, 61);
	border-radius: 10px;
	background-color: rgb(20, 33, 61);
	padding: 20px;
	width: 70vw;
	margin-top: 35vh;
}

#image-login {
	width: 65px;
}