#main-search {
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-top: 12vh;
}

#header-search {
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

#title-search {
    margin: 10px;
    margin-left: 15px;
    padding-top: 2px;
}

#form-search {
    display: flex;
    padding: 15px;
}

#input-form-search {
    height: 20px;
    width: 34vw;
    border-radius: 10px;
    border: 3px solid black;
    margin-right: 2px;
}

#button-form-search {
    height: 30px;
}

#image-button-form-search {
    width: 20px;
}

#result-search {
    display: flex;
    flex-direction: column;
}

#result-phrase {
    margin: 0px;
    margin-left: 15px;
}

#result-list {
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.album-result {
    border: 3px solid rgb(20, 33, 61);
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin: 3px;
    width: 40vw;
}

#image-album-result {
    border-radius: 5px;
}